/* Effortless transitions when scrolling */
html{
scroll-behavior: smooth;
}

/* css declarations */
body{
color: text-color;
font-family: font-family-base
}

a{
color: #161616;
}

.visually-hidden{
display: none;
}

.card-category{
color: color-primary;
}

.section-tagline{
color: color-primary;
}

:root{
--font-family-base: sans-serif;
--font-family-title: sans-serif;
--first-choice-font: Helvetica Neue;
--second-choice-font: Helvetica;
--third-choice-font: Arial;
--last-choice-font: sans-serif;
}

h1, h2, h3, h4, h5, h6{
font-family: font-family-title;
}
